body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.nav {
    background-color: rgb(242, 242, 242);
    color: rgb(130, 130, 130);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 4rem;
    height: 5rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: large;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav li.active {
    background-color: red;
}

.nav li:hover {
    text-decoration: underline;

}

.logo {
    height: 4em;
    pointer-events: none;
}

.h1 {
    text-align: center;
    color: #41AAA4;
    font-family: 'Newsreader';
    text-decoration: dotted;
    font-size: 50px;
    margin: 0;
    margin-top: 10px;
}

.hr {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 0em;
}

.form {
    margin: 10em;
    width: 30%;
    max-width: 400px;
    min-height: 20em;
    max-height: fit-content;
    height: auto;
    border-radius: 2%;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 0.2);
    text-align: center;
}

#logo-form {
    height: 4em;
}

.input-container {
    margin: auto;
    height: fit-content;
    width: auto;
    max-width: inherit;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.input-error-container {
    display: flex;
    flex-direction: column;
}

.errors {
    color: red;
    display: flex;
    align-items: flex-start;
    font-size: small;
    font-weight: bold;
}


.input {
    text-decoration-color: #41AAA1;
    margin-top: 20px;
    padding: 8px;
    border: 2px solid grey;
    border-radius: 10px;
    color: #41AAA1;
    font-size: 20px;
    font-family: 'Newsreader';
}

.input::placeholder {
    font-family: 'Newsreader';
    font-size: 20px;
}


.button-container {
    margin: auto;
    width: auto;
    max-width: inherit;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.error-container {
    margin: auto;
    width: auto;
    max-width: inherit;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.val-error {
    color: green;
    display: flex;
    align-items: flex-end;
    font-size: small;
    font-weight: bold;
}
.button-5 {
    color: white;
    align-items: center;
    background-clip: padding-box;
    background-color: #41AAA1;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: 8px;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,
.button-5:focus {
    background-color: #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

#link {
    z-index: 3;
    text-decoration: none;
    color: #41AAA1;
}

#link:hover {
    text-decoration: underline;
}


.model-submit-button {
    color: white;
    align-items: center;
    background-clip: padding-box;
    background-color: #41AAA4;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.model-input-container {
    /* margin: 0 5em;
    height: fit-content;
    width: auto;
    max-width: 300px;
    padding: 0em;
    display: flex;
    flex-direction: row; */
    margin: auto;
    padding-left: 17rem;
    width: auto;
    max-width: inherit;
    padding: 0 1 2em 0em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.lineChart-container {
    margin: auto;
    width: auto;
    max-width: inherit;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}